@use '../abstracts/fonts';

body {
  font-family: fonts.$inter, sans-serif;
  font-size: 1rem; // Relativ zur Basis-Schriftgröße
}

h1 {
  font-size: 2.5rem; // Beispiel für Überschrift
}

h2 {
  font-size: 2rem; // Beispiel für Unterüberschrift
}
